body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

/* change the URL to a picture of your choice - the higher quality the better! */
.business-header {
	height: 300px;
/*	background: url("images/g1.png") center center no-repeat;*/
	background-size: cover;
/*	border:2px solid #222333;*/
}

.navbar-inverse {
    background-color: #e20025;
    border-color: #e20025;
    height: 30px;
}
/*.nav navbar-nav{
	color: #fff;
}*/
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-weight: bolder;
    font-size: 16px;
    }
    .navbar-inverse .navbar-nav > li > a:hover{
    	background-color: #929487;

    }
.btn-tag{
	background-color: #e6003b;
    border-color: #e6003b;
    width: 250px;
}
.btn-tag:hover{
	background-color: #f0ab4e;
	color:#fff; 
	font-weight:bolder;
}

hr{ 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    /*color: #222333;*/
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.428571429;
  background-color:#eee;
  border: 1px solid #f2dede;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.thumbnail > img,
.thumbnail a > img {
  display: block;
  max-width: 100%;
  /*height: auto;*/
  margin-right: auto;
  margin-left: auto;
}
.btn-premium{
	background-color: #f0ab4e;
	color:#662200; 
	font-weight:bold;
	border-color: #f0ab4e;
	height: 30px;
}
.btn-premium:hover{
	background-color: #e6003b;
	color:#fff; 
	font-weight:bolder;
	height: 40px;
}
.fa{
	color: #662200; 
   /* margin-left: 21px;*/
    /*padding-left: -10px;*/
    padding: 4px;
}
.fa:hover{
	color: #e6003b;

}
.thumbnail .caption {
    /* padding: 9px; */
    color: #080808;
}
/* adjust the color and text shadow to optimize legibility once you have an image set - you can also change the vertical positioning if desired  */
.tagline {
	color: #fff;
	text-shadow: 0 0 10px #000;
	font-family: inherit;
    font-weight: bolder;
    position: absolute;
    bottom: 20px;
    right: 450px;
}
.row-rl-margin{  
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1020px;
}

/* ========================= sign-up index page styling ================================================================= */
 .signup-bg{    
    margin-top: 70px;
    margin-bottom: 40px;
    width: 1100px;
    height: 500px;
    background-image: url("../images/Rectangle2.png");
    background-size: cover;    
}
.have-fun{ 
    left: 60px;
    top: 120px;
    height: 100px;
    position: relative;   
}
.find-single{ 
    /*left: 40px;*/
    top: 120px;
    height: 100px;
    position: relative;   
}
.signup-form{
    top: -150px;
    left: -35px;
    position: relative;
    height: 570px;
    background-image: url("../images/Rectangle2copy.png");
    /* background-size: cover; */
}
.love-stamp img{
    height: 180px;
    width: 200px;
}
.signup-image 
{ 
   left: -300px;
    top: 170px;
    height: 100px;
    position: relative;
} 
.signup-image2 
{ 
    left: 800px;
    top: 70px;
    height: 100px;
    position: relative;
} 
/*.have-find-single img{
    height: 20px;
    width: 200px;
}*/
/* ========================= end sign-up index page styling ================================================================= */
 .login-bg-l
{ 
    left: 200px;
    /* top: 100px; */
    margin-top: 100px;
    margin-bottom: 10px;
    /* position: relative; */
    height: 450px; 
    background-image: url("../images/Rectangle2copy.png");
    background-size: cover;   
} 
 .login-bg1
{ 
    left: 200px;
    top: 100px;
    position: relative;
    height: 500px;
    background-image: url("../images/Rectangle2copy.png");
    background-size: cover;    
} 

.btn-signup{
	background-color: #e20025;
    color: #fff;
    font-weight: bold;
    border-color: #e20025;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 9px;
}
.btn-signup:hover{
	background-color: #e6003b;
	color:#fff; 
	font-weight:bolder;
	height: 50px;
}
label{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}
.form-control-signup {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    color: #0b0b0b;
    background-color: #7f0001;
    border: 1px solid #7f0001;
    border-bottom: 1px solid #e20025;
    font-size: 16px;    
    font-weight: bold;
}
 


.login-label{
	font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 40px;

}
.login-label-bottom{
	font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 40px;

}
.auth-home a{   
    color: #000;
    text-decoration: none;
}

/*=====================================================================================*/
.box-widget {
    border: none;
    position: relative;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    /*border-top: 3px solid #d2d6de;*/
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.widget-user-header{
	/*left: 50px;
    top: 100px;*/
    /*position: relative;*/
    height: 70px;
    background-image: url("../images/Rectangle2.png");
    background-size: cover;    
}
.widget-user .widget-user-image {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -45px;
    }
    .widget-user .box-footer {
    padding-top: 70px;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
bg-aqua-active{
    background-color: #00a7d0 !important;
}

body {
  padding : 10px ;
  
}

#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
    color: #080808;
    background-color: #fcf8e3;
    padding: 5px 15px;
    width: 990px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #e20025 !important;
}
/*===================================================================================*/
a {
    color: #fff;
    text-decoration: none;
    }
footer {
	margin: 50px 0;
}

.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd;
}
.tabs-right {
  border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-right>li {
  margin-left: -1px;
}
.tabs-left>li{
    background-color: #e20025;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {    
    border-bottom-color: #ffedd7;
    border-right-color: #ffedd7;
    background-color: #ffedd7;
}

tabs-left>li>a:hover{    
    background-color: #ffedd7;
}

.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder;
}

.tab-content{
    background-color: #ffedd7;;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 250px;
}
 .edit-profile-label{
    color: #0f0f0f;
 }
 .profile-form{
    padding:20px;
 }